<section data-ng-controller="PostsController">
  <div class="postview">
    <div class="col-md-2 col-md-offset-1">
      <div data-ng-show="authentication.user">
        <div class="form-group text-center">
          <img ng-src="{{authentication.user.profileImageURL}}" alt="ebute-ero" class="img-thumbnail">
        </div>
      </div>
      <div data-ng-hide="authentication.user">
        <div class="form-group text-center">
          <img ng-src="{{modules/core/client/img/brand/fireicon.jpg}}" alt="ebute-ero" class="img-thumbnail">
        </div>
      </div>
      <div class="passionmenu" data-ng-controller="HomeController">
        <ul class="ulmenu">
          <li class="limenu" ng-click="onSearch('Art & Craft')"><a class="menu" href="">Art & Craft</a></li>
          <li class="limenu" ng-click="onSearch('Beauty Artist')"><a class="menu" href="">Beauty Artist</a></li>
          <li class="limenu" ng-click="onSearch('Confectioners')"><a class="menu" href="">Confectioners</a></li>
          <li class="limenu" ng-click="onSearch('Entertainers')"><a class="menu" href="">Entertainers</a></li>
          <li class="limenu" ng-click="onSearch('Events')"><a class="menu" href="">Events</a></li>
          <li class="limenu" ng-click="onSearch('Fashion')"><a class="menu" href="">Fashion</a></li>
          <li class="limenu" ng-click="onSearch('Fabrics')"><a class="menu" href="">Gadgets & Technology Enthusiath</a></li>
          <li class="limenu" ng-click="onSearch('Gadges & Technology Enthusiasts')"><a class="menu" href="">Graphics Designers</a></li>
          <li class="limenu" ng-click="onSearch('Graphics Designer')"><a class="menu" href="">Home Service</a></li>
          <li class="limenu" ng-click="onSearch('Home Services')"><a class="menu" href="">House Designers</a></li>
          <li class="limenu" ng-click="onSearch('House Designers')"><a class="menu" href="">Local Stores</a></li>
          <li class="limenu" ng-click="onSearch('Music')"><a class="menu" href="">Music</a></li>
          <li class="limenu" ng-click="onSearch('Photograhpers & Cinematograpers')"><a class="menu" href="">Photographers & Cinematographers</a></li>
          <li class="limenu" ng-click="onSearch('Programming & Networking')"><a class="menu" href="">Programming & Networking</a></li>
          <li class="limenu" ng-click="onSearch('Public Speaking')"><a class="menu" href="">Public Speaking</a></li>
          <li class="limenu" ng-click="onSearch('Sports')"><a class="menu" href="">Sports</a></li>
          <li class="limenu" ng-click="onSearch('Writers & Theatre Artists')"><a class="menu" href="">Writers & Theatre Artists</a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 posts">
      <div data-ng-show="authentication.user" ng-include="'modules/posts/client/views/form.client.view.html'"></div>
      <br>
      <br>
      <div class="list-group">
        <div data-ng-init=findPassion()>
          <div data-ng-repeat="post in posts">
            <hr />
            <img ng-src="{{post.user.profileImageURL}}" alt="{{post.user.displayName}}" class="header-profile-image" />
            <h4 data-ng-bind="post.user.displayName">Am here</h6>
            <div data-ng-bind="post.ideas[0].idea"></div>
            <!-- Comments -->
              
            <!-- Comment form -->
              <div data-ng-show="authentication.user">
                <h4>Leave a comment</h4>
                <form class="clearfix" data-ng-submit="createComment()" >
                  <div data-ng-show="error" class="text-danger">
                    <strong style="margin-left: 15px;" data-ng-bind="error"></strong>
                  </div>
                  <div class="col-md-12 form-group">
                    <p ng-show="form.commbody.$error.invalid" class="text-danger">Comment cannot be blank.</p>
                    <label class="sr-only" for="commbody">Comment</label>
                    <textarea data-ng-model="commbody" class="form-control" id="commbody" placeholder="Comment" check-length required></textarea>
                  </div>
                  <div class="col-md-12 form-group text-left">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>                 
              </div>
            <p>{{post}}</p>
          </div>
          <div class="alert alert-warning text-center" ng-if="posts.$resolved && !posts.length">
            No users as created a posts yet, why not you <a ui-sref="articles.create">create one</a>?
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2 sidebar">
      <div class="connect">
        <div data-ng-show="authentication.user">
          <h3>Add Connections</h3>
          <form>
            <input class="text" class="form-control">
            <input type="submit" class="btn btn-default sidebutton" >
          </form>
        </div>
        <div data-ng-hide="authentication.user">
          <h3>Subscribe For Newsletter</h3>
          <form>
            <input class="text" class="form-control">
            <input type="submit" class="btn btn-default sidebutton" >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>